﻿@using CATI.Data
@using CATI.Mvc.Models
@model IEnumerable<CATI.Data.News>

@{
    ViewBag.Title = "News";
}
<script type="text/javascript">

    var Id = null;

    function EditActionOnClick(newsId) {
        Id = newsId;
        if (Id != null)
            EditNewsDetails.Show();
    }
</script>

@Html.DevExpress().PageControl(settings =>
{
    settings.Name = "newsTypes";
    foreach(var curTypeNews in Model.GroupBy(x => x.Type.Id).OrderBy(x=>x.Key))
    {
        settings.TabPages.Add(curTypeNews.First().Type.Name, curTypeNews.First().Type.Name).SetContent(() =>
        {
            Html.RenderPartial("NewsOfType", curTypeNews);
        });
    }
}).GetHtml()

@Html.Partial("EditNewsDetails", (EditNews)ViewBag.selectedProject)
