﻿@model IEnumerable<CATI.Data.News>

@{
    ViewBag.Title = "NewsOfType";
}


<table class="table">
    @foreach (var news in Model)
    {
        <tr>
            <td style="padding-right: 10px; vertical-align: top;">
                @news.NewsDate.ToShortDateString()
            </td>
            <td>
                <div>
                    @{
        Html.DevExpress().HyperLink(hlSettings =>
        {
            hlSettings.Name = string.Format("hl_{0}", news.Id);
            hlSettings.NavigateUrl = "javascript:void(0)";
            hlSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ EditActionOnClick('{0}'); }}", news.Id);
            hlSettings.Properties.Text = news.Head;
            hlSettings.ControlStyle.Font.Bold = true;
        }).Render();
                    }
                </div>
                <div>
                    @{
        Html.DevExpress().HyperLink(hlSettings =>
        {
            hlSettings.Name = string.Format("hl_{0}_alt", news.Id);
            hlSettings.NavigateUrl = "javascript:void(0)";
            hlSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ EditActionOnClick('{0}'); }}", news.Id);
            hlSettings.Properties.Text = news.Text;
            hlSettings.Properties.AllowEllipsisInText = true;
        }).Render();
                    }
                </div>
            </td>
        </tr>
    }
</table>


@*@Model.Count()*@
@*<table class=\"table\">
    ");
    ViewContext.Writer.Write("
    <tbody>
        ");
        foreach (var news in curTypeNews)
        {
        ViewContext.Writer.Write("
        <tr>
            ");
            ViewContext.Writer.Write("
            <td style=\"padding-right:10px; vertical-align top;\">
                ");
                ViewContext.Writer.Write(news.NewsDate.ToShortDateString());
                ViewContext.Writer.Write("
            </td>");
            ViewContext.Writer.Write("
            <td>
                ");
                Html.DevExpress().HyperLink(hlSettings =>
                {
                hlSettings.Name = string.Format("hl_{0}", news.Id);
                hlSettings.NavigateUrl = "javascript:void(0)";
                hlSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ EditActionOnClick('{0}'); }}", news.Id);
                hlSettings.Properties.Text = news.Head;
                hlSettings.ControlStyle.Font.Bold = true;
                }).Render();
                //ViewContext.Writer.Write("</b></div>");
                //ViewContext.Writer.Write("<div class=\"line\">
                    ");
                    Html.DevExpress().HyperLink(hlSettings =>
                    {
                    hlSettings.Name = string.Format("hl_{0}_alt", news.Id);
                    hlSettings.NavigateUrl = "javascript:void(0)";
                    hlSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ EditActionOnClick('{0}'); }}", news.Id);
                    hlSettings.Properties.Text = news.Text;
                    hlSettings.Properties.AllowEllipsisInText = true;
                    }).Render();
                    ViewContext.Writer.Write("
            </td>");
            //ViewContext.Writer.Write("</div>");
            }
            ViewContext.Writer.Write("
    </tbody>");*@

